#.env
auction/.env
chapter6/chapter6_2/.env
chapter6/chapter6_3/.env
chapter7/.env
chapter9/.env
chapter9_ts/.env
chapter10/.env
chapter10_user/.env
gifchat/.env

#node_modules
auction/node_modules
chapter5/npm-package/node_modules
chapter6/chapter6_1/node_modules
chapter6/chapter6_2/node_modules
chapter6/chapter6_3/node_modules
chapter7/sequelize/node_modules
chapter8/node_modules
chapter9/node_modules
chapter9_ts/node_modules
chapter10/node_modules
chapter10_user/node_modules
cli/node_modules
gifchat/node_modules